/* Common Css
------------------------------------------------------------------------------------------------------------------------*/
.container { max-width: 1640px!important; }
@media (max-width: 1610px) {
	.container { max-width: 100%!important; }
}
.btn-primary:not(:disabled):not(.disabled):active:focus { outline: 0;border: 0; }
section { padding: 50px 0px 0px; }
.section-title h2 { font-family: 'Montserrat', sans-serif; font-size: 32px; font-weight: 700; color: #000000;text-align: left; }
.btn-primary:not(:disabled):not(.disabled):active:focus { box-shadow: unset; }
a { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { outline: 0; }
.btn-primary:focus,.btn:focus,.btn:active { box-shadow: unset; }
@media (max-width: 767px) {
	/*section { padding: 25px 0px 0px; }*/
	.section-title h2 { text-align: center;font-size: 24px; }
} 


/* Product Box
------------------------------------------------------------------------------------------------------------------------*/
.product-box .section-title h2 { font-family: 'Montserrat', sans-serif; font-size: 32px; font-weight: 700; color: #000000;/*text-align: left;*/ }
.product-box ul { /*margin: 0;*/padding: 0;list-style-type: none;display: flex;flex-wrap: wrap;/*align-items: center;*/margin-left: -10px;margin-right: -10px; }
.product-box ul li { box-sizing: border-box;/*width: 16.50%;*/width: 16.65%;padding: 0px 10px;margin-bottom: 20px; }
.product-box ul li .content-wrap { height: 100%;border: 1px solid #E7E7E7;border-radius: 2px; }
.product-box ul li .content-wrap:hover { background: #FFFFFF; border: 1px solid #E7E7E7; box-shadow: 0 0 20px 0 rgba(140,137,137,0.50); } 

.product-box ul li .content-wrap .product-code {  font-size: 10px; color: #A1A1A1;padding: 5px 0px 5px 7px; }
.product-box ul li .content-wrap .img { margin: 0 auto;text-align: center; position: relative; }
.product-box ul li .content-wrap .img .discount.badge {  font-size: 14px; margin: 0; position: absolute; background: #B1CC1E; color: #fff; /*padding: 3px 9px;*/padding: 14px 11px; border-radius: 9px;font-weight: bold; top: 2px;border-radius: 50%;left: 7px; }
.product-box ul li .content-wrap .img .discount.badge .save { display: block;font-size: 10px; color: #274985;font-weight: 400; }
.product-box ul li .content-wrap .img .discount.badge .percentage { display: block;font-weight: 700;font-size: 16px; color: #274985; }
.product-box ul li .content-wrap .img img { margin: 0 auto; width:100%; }
.product-box ul li .content-wrap .content { padding: 0px 10px 25px; }
.product-box ul li .content-wrap .title { padding: 12px 0px;line-height: 1; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.product-box ul li .content-wrap .title a { font-family: 'Montserrat', sans-serif; font-size: 16px; color: #2A2A2A; font-weight: 400;margin: 0;cursor: pointer;line-height: 1.3; }
.product-box ul li .content-wrap .title a:hover { text-decoration: none;color: #B1CC1E; } 
.product-box ul li .content-wrap .content .price .amount{  position: relative;font-family: 'Montserrat', sans-serif; font-size: 18px; color: #989898;font-weight: 400; }
.product-box ul li .content-wrap .content .price .amount-price,
.product-box ul li .content-wrap .content .price span { font-family: 'Montserrat', sans-serif; font-size: 18px; color: #001F37; font-weight: bold; padding-left: 5px; }
.product-box ul li .content-wrap .content .price .amount::after{ content: ""; width: 100%; height: 1px; background: black; position: absolute; bottom: 8px; left: 0; } 
.product-box ul li .content-wrap .content .price .including-tax { display: block;font-size: 10px; color: #989898; }

.new-product .product-box ul li.product-box .content-wrap:hover { background: #FFFFFF; border: 1px solid #E7E7E7; box-shadow: 0 0 20px 0 rgba(140,137,137,0.50); }
.product-box ul li .content-wrap .img .sticker.new {  font-size: 14px; margin: 0; position: absolute; background: #B1CC1E; color: #fff; padding: 14px 11px; border-radius: 9px;font-weight: bold; top: 2px;border-radius: 50%;left: 7px; }
.product-box ul li .content-wrap .img .sticker.new .save,
.product-box ul li .content-wrap .img .sticker.new .new { display: block;font-size: 10px; color: #274985;font-weight: 400; }
.product-box ul li .content-wrap .img .sticker.new .new { font-weight: 700; }
.product-box ul li .content-wrap .img .sticker.new .percentage { display: block;font-weight: 700;font-size: 16px; color: #274985; }
.product-box ul li .content-wrap .img img { margin: 0 auto; width:100%; }
.product-box ul li.items .content-wrap .img:hover img { transition: all .3s; transform: scale(1.03); }
/*.product-box ul li .content-wrap .content { padding: 0px 10px 80px; }*/
.product-box ul li.items:hover .content-wrap .content { padding-top: 3px!important; }
.product-box ul li .content-wrap .content .product-rating .stars i { color: #FFC107;font-size: 16px; }
.product-box ul li .content-wrap .title { /*padding: 12px 0px;*/padding: 15px 0px 20px;line-height: 1; }
.product-box ul li .content-wrap .title a span { font-family: 'Montserrat', sans-serif; font-size: 16px; color: #2A2A2A; font-weight: 400;margin: 0;cursor: pointer;line-height: 1.3; }
.product-box ul li .content-wrap .title a:hover { text-decoration: none; } 
.product-box ul li .content-wrap .title a:hover span { color: #B1CC1E; } 
.product-box ul li .content-wrap .content .price .regular-price {  position: relative;font-family: 'Montserrat', sans-serif; font-size: 18px; color: #989898;font-weight: 400; }
.product-box ul li .content-wrap .content .price .special-price,
.product-box ul li .content-wrap .content .price span { font-family: 'Montserrat', sans-serif; font-size: 18px; color: #001F37; font-weight: bold; /*padding-left: 10px;*/padding-left: 0px; }
.product-box ul li .content-wrap .content .price .regular-price::after{ content: ""; width: 100%; height: 1px; background: black; position: absolute; bottom: 8px; left: 0; } 
.product-box ul li .content-wrap .content .price .including-tax { display: block;font-size: 10px; color: #989898;font-weight: 400; }

.product-box ul li .content-wrap .buttons { position: absolute; bottom:0px; left: 0; right: 0;text-align: center;display: flex;align-items: center;justify-content: space-between; }
.product-box ul li .content-wrap .buttons a { font-weight: 700;font-size: 14px;padding: 15px 40px;border-radius: 35px;display: inline-block;border: 0; outline: 0; }
.product-box ul li .content-wrap .buttons a:focus { box-shadow: unset; }
.product-box ul li .content-wrap .buttons .quick-view { background: #B1CC1E;padding: 15px 40px;border-radius: 35px;display: inline-block;border: 0;outline: 0;width: 47%; }
.product-box ul li .content-wrap .buttons .quick-view button { color: #274985; /*margin-right: 10px;*/font-weight: 700;font-size: 14px;border: 0; outline: 0;background: transparent; }
.product-box ul li .content-wrap .buttons .quick-view span { font-size: 20px;color: #274985;display: none; }
.product-box ul li .content-wrap .buttons .add-to-cart { background: #274985;padding: 15px 40px;border-radius: 35px;display: inline-block;border: 0;outline: 0;width: 47%; }
.product-box ul li .content-wrap .buttons .add-to-cart button { color: #FFFFFF!important; font-weight: 700;font-size: 14px;border: 0; outline: 0;padding: 0; }
.product-box ul li .content-wrap .buttons .add-to-cart button i { color: #FFFFFF!important;font-size: 22px;display: none; }
.product-box ul li .content-wrap .buttons .add-to-cart button span { color: #FFFFFF;font-weight: 700; }
.product-box ul li .content-wrap .buttons .quick-view:hover {  background: #274985; }
.product-box ul li .content-wrap .buttons .quick-view:hover button,
.product-box ul li .content-wrap .buttons .quick-view:hover span { color: #FFFFFF; }
.product-box ul li .content-wrap .buttons .add-to-cart:hover {  background: #B1CC1E; }
.product-box ul li .content-wrap .buttons .add-to-cart:hover button span { color: #274985; }
.product-box ul li.items .content-wrap .compare-icon { right: 0;left: auto;top: 10px; display: none; margin-left: 5px; margin-right: 5px; position: absolute; }
.product-box ul li.items .content-wrap .compare-icon i { color: #B1CC1E;font-size: 30px; }
.product-box ul li.items .content-wrap .wishlist-icon { left: 0; top: 10px; display: none; margin-left: 5px; margin-right: 5px; position: absolute; }
.product-box ul li.items .content-wrap .wishlist-icon i { color: #B1CC1E;font-size: 30px; }
.product-box ul li.items:hover .content-wrap .compare-icon, .product-box ul li.items:hover .content-wrap .wishlist-icon { display: block;top: 20px; }
@media (max-width: 1610px) {
	.product-box ul li { width: 20%; }
}
@media (max-width: 1199px) {
	.product-box ul li { width: 25%; }
}
@media (max-width: 991px) {
	.product-box ul li { width: 33%; }
	.slick-slider .slick-list { padding: 0 !important; }
}
@media (max-width: 767px) {
	.product-box ul li { width: 50%; }
}
@media (max-width: 576px) {
	.product-box ul li { width: 100%; }
}




/* Header Css
-------------------------------------------------------------------------------------------------------------------------------------- */
.navbar-top .navbar-top-wrapper { display: flex;flex-wrap: wrap; }
.navbar-top .navbar-top-wrapper .navbar-left-wrapper { text-align: left;padding: 0; }
.navbar-top .navbar-top-wrapper .navbar-right-wrapper{ text-align: right;padding: 0;}
.navbar-top ul{ margin: 0; padding: 0; list-style-type: none; display: inline-flex; flex-direction: row; justify-content: flex-end; width: auto;align-items: center; }
.navbar-top ul li{margin: 0; padding: 0 10px; list-style-type: none;}
.navbar-top ul li a{ color: #fff; font-size: 14px; font-weight: 600;font-family: 'Be Vietnam', sans-serif;color: #FFFFFF; }

.navbar-top .navbar-top-wrapper .navbar-left-wrapper ul li { display: flex;align-items: center; }
.navbar-top .navbar-top-wrapper .navbar-left-wrapper ul li:first-child{ padding-left: 0;}
.navbar-top .navbar-top-wrapper .navbar-left-wrapper ul li a:before { font-family: 'boxicons'!important; font-weight: normal; font-style: normal; font-variant: normal;vertical-align: middle;line-height: 1.5; margin-right: 10px;font-size: 20px; display: inline-block; }
.navbar-top .navbar-top-wrapper .navbar-left-wrapper ul li span { margin-right: 10px; font-size: 20px; color: #fff;padding: 5px 0px 0px; }
.navbar-top .navbar-top-wrapper .navbar-left-wrapper ul li span i {  }

.navbar-top .navbar-top-wrapper .navbar-right-wrapper .modal-content { border: 0;box-shadow: unset;background: transparent; }
.navbar-top .navbar-top-wrapper .navbar-right-wrapper .dropdown,
.navbar-top .navbar-top-wrapper .navbar-right-wrapper .modal-content a { border-right: 1px solid #F4F4F4;padding: 0px 15px;text-decoration: none; }
.navbar-top .navbar-top-wrapper .navbar-right-wrapper .modal-content a:hover button { text-decoration: none;color: #274985; }
.navbar-top .navbar-top-wrapper .navbar-right-wrapper .languages .dropdown:last-child { border-right: 0;padding-right: 0; }
.navbar-top .navbar-top-wrapper .navbar-right-wrapper .currencycode .dropdown { padding-left: 0; }
.navbar-top .navbar-top-wrapper .navbar-right-wrapper .modal-content .theme-btn { color: #fff; font-size: 14px; font-weight: 600;font-family: 'Be Vietnam', sans-serif;color: #FFFFFF;background-color: transparent; border: 0; }
.navbar-top .navbar-top-wrapper .navbar-right-wrapper .modal-content .theme-btn:hover { background: transparent;background-color: transparent!important;border-color: transparent!important; } 

#top .navbar-top .navbar-top-wrapper .navbar-right-wrapper .locale-switcher { padding: 0px 26px 0px 0px;font-size: 14px;font-family: 'Be Vietnam', sans-serif;font-weight: 600;color: #fff; }
#top .navbar-top .navbar-top-wrapper .navbar-right-wrapper .styled-select+.select-icon-container .select-icon { top: -17px; color: #fff; font-weight: bold; }

header.sticky-header { width: 100%; display: inline-block; padding: 20px 0px; }
.navbar-middle { width: 100%; display:inline-block;padding: 20px 0px; }
.navbar-middle .navbar-middle-wrapper { display: flex;align-items: center;width: 100%; }
.navbar-middle .navbar-middle-wrapper .navbar-brand { padding: 0; }
.navbar-middle .navbar-middle-wrapper .navbar-brand img { padding-left: 0; }

.navbar-middle .navbar-middle-wrapper .searchbar { display: flex;align-items: center;padding: 0px; }
.navbar--search {  }
header .navbar--search form#search-form { margin: 0 auto!important; }
header .navbar--search #search-form .btn-group {  }
header .navbar--search #search-form  input,
header .navbar--search #search-form .btn-group select { border: 1px solid #E3E3E3; outline: none; font-size: 14px!important; padding: 10px 10px; float: left;height: 50px;border-radius: 5px;font-family: 'Be Vietnam', sans-serif;color: #413A3D; }
header .navbar--search #search-form  input::placeholder { font-family: 'Be Vietnam', sans-serif;color: #413A3D; font-size: 14px!important; }
header .navbar--search #search-form .btn-group .selectdiv,
header .navbar--search #search-form .btn-group .full-width { height: 50px; }
header .navbar--search #search-form button#header-search-icon { font-size: 20px; vertical-align: top; margin: 4px 0; background: #274985; color: #fff; padding: 0px 10px; position: absolute; right: 50px; border-radius: 5px; float: left; border: none; outline: none; cursor: pointer; height: 40px; z-index: 9999; }
header .navbar--search #search-form button#header-search-icon:hover { background: #B1CC1E; }
header .navbar--search #search-form .btn-group .selectdiv .select-icon-container .select-icon.rango-arrow-down { top: 19px;right: 5px; }

header .navbar--addcart--wishlist { padding: 0; }
header .navbar--addcart--wishlist a { padding: 5px 0px 5px!important;margin-right: 15px;margin-right: 7px; }
header .navbar--addcart--wishlist .mini-cart-container { padding: 10px 10px 10px 0px; } 
header .navbar--addcart--wishlist a i,
header .navbar--addcart--wishlist i { font-size: 38px; font-weight: normal; font-style: normal; font-variant: normal;color: #274985;margin-right: 15px; }
header .navbar--addcart--wishlist .mini-cart-container #mini-cart { padding: 0 7.5px; }
header .navbar--addcart--wishlist .mini-cart-container i { margin-right: 0; }
header .navbar--addcart--wishlist a span:hover i,
header .navbar--addcart--wishlist .mini-cart-container button:hover i,
header .navbar--addcart--wishlist .mini-cart-container button:hover .down-arrow-container span.rango-arrow-down { color: #B1CC1E; }
header .navbar--addcart--wishlist .mini-cart-container .down-arrow-container span.rango-arrow-down { color: #274985; }
header .navbar--addcart--wishlist .mini-cart-content span.addcart { background: #274985; color: #fff;border-radius: 50%;padding:11px 13px;position: relative;/*font-size: 20px;*/ }
header .navbar--addcart--wishlist .mini-cart-content span.addcart i { font-size: 17px; font-weight: normal; font-style: normal; font-variant: normal;color: #FFFFFF; }
header .navbar--addcart--wishlist .mini-cart-content span.addcart .badge { font-size: 14px; margin: 0; position: absolute; background: #B1CC1E; color: #fff; padding: 3px 9px; border-radius: 9px;font-family: 'Be Vietnam', sans-serif!important;font-weight: bold; top: 2px; }
header .navbar--addcart--wishlist span.compare .badge,
header .navbar--addcart--wishlist span.wishlist .badge { background: #B1CC1E; color: #fff;padding: 3px 9px; border-radius: 9px;font-family: 'Be Vietnam', sans-serif!important;font-weight: bold; }
header .navbar--addcart--wishlist .mini-cart-content span.addcart:hover { background: #B1CC1E; }
header .navbar--addcart--wishlist .mini-cart-content span.addcart:hover .badge,
header .navbar--addcart--wishlist a span.compare:hover .badge,
header .navbar--addcart--wishlist a span.wishlist:hover .badge { background: #274985; }

.main-container-wrapper  header.sticky-header { z-index: 100001; }



.navbar-bottom{ width: 100%; display: flex; flex-direction: row; padding: 20px 0px; align-items: center;border-top: 1px solid #E1DFDF;}
.navbar-bottom .row { align-items: center;box-shadow: none; }
.navbar-bottom ul{ margin: 0; padding: 0px 0px 0px 40px; list-style-type: none; display: flex; flex-direction: row; float: left; }
.navbar-bottom ul li{margin: 0; padding: 0px 0px 0px 40px; list-style-type: none; position: relative;}
.navbar-bottom ul li:first-child { padding-left: 0; }
.navbar-bottom ul li a{color: #000000; text-transform: capitalize; font-weight: 400; font-size: 16px; text-decoration: none;padding: 20px 0 24px; position: relative;font-family: 'Montserrat', sans-serif;}
.navbar-bottom ul li a::after, .navbar-bottom ul li a::before { content: ''; position: absolute; bottom: 21px; left: 0; width: 100%; height: 3px; -webkit-transform: scale3d(0, 1, 1); transform: scale3d(0, 1, 1); -webkit-transform-origin: center left; transform-origin: center left; -webkit-transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); transition: transform 0.3s cubic-bezier(0.22, 0.61, 0.36, 1); }
.navbar-bottom ul li a::before {background: #B1CC1E; -webkit-transition-delay: 0.3s; transition-delay: 0.3s;}

.navbar-bottom ul li a:hover, .navbar-bottom ul li.active a{ color: #B1CC1E; }
.navbar-bottom ul li a:hover::before, .navbar-bottom ul li.active a:before{ -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); -webkit-transition-delay: 0s; transition-delay: 0s; }

.navbar-bottom ul li .sub-menu{ position: absolute; left: -7px; top: 40px; min-width: 175px; background: rgba(255,255,255,0.9); flex-direction: column; padding: 17px 0; display: none; }
.navbar-bottom ul li .sub-menu li{ width: 100%; padding: 3px 20px; }
.navbar-bottom ul li .sub-menu li a{ font-family: 'Montserrat', sans-serif; font-weight: 400;font-size: 16px; padding: 0; display: inline-block; width: 100%; }
.navbar-bottom ul li .sub-menu li a::after, .navbar-bottom ul li .sub-menu li a::before,
.navbar-bottom ul li .sub-menu li a:hover::after, .navbar-bottom ul li .sub-menu li a:hover::before{ display: none;}
.navbar-bottom ul li.active .sub-menu li a{ color: #000000;}
.navbar-bottom ul li.active .sub-menu li a:hover{ color: #B1CC1E;}
.navbar-bottom ul li.nav-item.parent  { position: relative; }
.navbar-bottom ul li.nav-item.parent:after { content: "\E906"; font-family: Webkul Rango!important; font-weight: normal; font-style: normal; font-variant: normal;color: #B1CC1E;font-size: 20px;position: absolute; right: -25px; top: -5px; }


.navbar-bottom .main-category { padding: 20px 0px 24px; }
.navbar-bottom .main-category .rango-view-list { font-size: 23px; color: #B1CC1E; }
#sidebar-level-0 { border-top: 0;background: rgba(255,255,255,0.9);padding: 17px 0px!important;width: 175px;/*z-index: 1;*/ }
#sidebar-level-0 ul { margin-bottom: 0; }
#sidebar-level-0 ul li { padding: 3px 3px; }
#sidebar-level-0 ul li:hover { background: transparent; }
#sidebar-level-0 ul li a { line-height: 1;padding: 0; }
#sidebar-level-0 ul li a:hover { background: none;color: #B1CC1E; }
#sidebar-level-0 ul li a span { font-weight: bold; text-transform: capitalize; font-weight: 400; font-size: 16px; }
#sidebar-level-0 ul li:hover a span { color: #B1CC1E; }



/* Home Banner Pages
------------------------------------------------------------------------------------------------------------------------*/
.slider-img .image-wrapper{width: 100%; height: 100%; display: inline-block; z-index: -1; }
.slider-img .image-wrapper img {width: 100%; height: 100%;  }
.slider-img {width: 100%; position: relative; display: flex;   height: 100%; justify-content: center; align-items: center; padding: 0; }
.item {height: 100%; }
.item .custom-slider-caption {display: flex; height: 100%; align-items: center; position: absolute; top: 0;width: 100%; }
.carousel-inner {height: 100%; }
.carousel {width: 100%; height: 100%; }
.carousel-inner .icofont-rounded-right.arrows,.carousel-inner .icofont-rounded-left.arrows { font-size: 82px; }
.carousel-indicators {bottom: 0px;top: 250px;/*margin-left: 8%;right: auto;*/right: 0;margin-bottom: 0;margin: 0 auto;left: 0; width: 100%;align-items: center; justify-content: left;padding: 0 15px; }
.carousel-control-prev,.carousel-control-next,
.carousel-control-prev:hover,.carousel-control-next:hover {width: 8.5%;color: #274985;opacity: 1; }
.carousel-control-prev .arrows,.carousel-control-next .arrows { width: 40px; }
.carousel-indicators li {border-radius: 50%; width: 15px; height: 15px; margin: 0 8px;background-color: #DBDBDB;cursor: pointer;opacity: 0.5; }
.carousel-indicators li:first-child { margin-left: 0; } 
.carousel-indicators li.active {background-color: #274985;border-radius: 50%; width: 15px; height: 15px; margin: 0 8px; }
.slider-img .custom-slider-caption .col-left {width: 100%; color: #000000; }
.slider-img .custom-slider-caption .col-left h1 { font-family: 'Montserrat', sans-serif; font-size: 70px; color: #000000; line-height: 70px;/* margin-bottom: 18px;*/ color: #000000; margin-top: 0;font-weight: 700;}
.slider-img .custom-slider-caption .col-left p { font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 20px; line-height: 29px; margin: 0;color: #000000;}
.slider-img .custom-slider-caption .col-left .buttons {margin: 0; position: unset; text-align: left; }
.slider-img .custom-slider-caption .col-left .btn.btn-primary {border: 0;background: #274985; border-radius: 2px; font-size: 15px; font-family: 'Montserrat', sans-serif; margin-top: 40px; padding: 7px 20px 7px; }
.slider-img .custom-slider-caption .col-left .btn.btn-primary:hover {background: #275da5; color: #ffffff; }
.slider-img .custom-slider-caption .col-left .btn.btn-primary i {margin-left: 7px; }
@media (min-width: 1200px) {
	.slider-img .item .container,
 	.carousel-indicators { max-width: 100% !important; }
	.slider-img .custom-slider-caption { padding-left:150px; }
	.carousel-indicators { padding-left:160px;;bottom: 0; }
	.slider-img .custom-slider-caption .col-left h1 { font-size:50px; }
	.slider-img .custom-slider-caption .col-left p { font-size:18px; }
}
@media (min-width: 1860px) {
 .slider-img .item .container,
 .carousel-indicators { max-width: 1640px !important; }
 .carousel-indicators { padding:0px 15px;margin-bottom: 0;bottom: 0px; }
 .slider-img .custom-slider-caption { padding-left:0px; }
}

/* New Product With Tabbing System
------------------------------------------------------------------------------------------------------------------------*/
.new-product { padding: 50px 0px; }
.new-product ul.nav.nav-tabs { display: flex;align-items: center;justify-content: center;border-bottom: 1px solid #E7E7E7; }
.new-product ul.nav.nav-tabs li a {font-weight: bold;font-size: 16px;color: #274985;}
.new-product ul.nav.nav-tabs>li.active>a,.new-product  ul.nav.nav-tabs>li.active>a:focus,.new-product  ul.nav.nav-tabs>li.active>a:hover { background-color: transparent;border: 0; }
.new-product ul.nav.nav-tabs li.active:after { content: ""; position: absolute; background: #274985; width: 100%; left: 0; right: 0; height: 3px; }
.new-product ul.nav.nav-tabs>li>a:focus,.new-product ul.nav.nav-tabs>li>a:hover { text-decoration: none; background-color: transparent;  }
/*.new-product {  }
.new-product {  }
.new-product {  }*/
@media (max-width: 767px) {
	.new-product ul.nav.nav-tabs li a { font-size: 14px; }
}




/* Sales And Add To Cart
------------------------------------------------------------------------------------------------------------------------*/
.sales { background: #FAFCF3;padding: 50px 0px 50px 0px; }
.sales .salesoffers-addtocart { display: flex;flex-wrap: wrap; }

.sales  .salesoffers-addtocart .salesoffers .imgs { padding: 25px 0px; }
.sales  .salesoffers-addtocart .salesoffers .imgs img {/* width: 100%;*/ max-width: 100%; }
.sales  .salesoffers-addtocart .salesoffers .salesoffers-content .imgs img { /*width: 80%;*/max-width: 80%; }
.sales  .salesoffers-addtocart .salesoffers .salesoffers-content { font-family: 'Montserrat', sans-serif; font-size: 16px; color: #000000; letter-spacing: 0; }
.sales  .salesoffers-addtocart .salesoffers .salesoffers-content a { background: transparent; border:0; }
.sales  .salesoffers-addtocart .salesoffers .salesoffers-content a.promotion { font-size: 16px; color: #000000; font-weight: bold; text-decoration: underline;padding-left: 0; }
.sales  .salesoffers-addtocart .salesoffers .salesoffers-content a.promotion:hover {  color: #B1CC1E; } 
.sales  .salesoffers-addtocart .salesoffers .salesoffers-content a.active-promotion { font-family: 'Be Vietnam', sans-serif; font-size: 14px; color: #EE3A43; font-weight: bold;padding-left: 0; }
.sales  .salesoffers-addtocart .salesoffers .salesoffers-content a.active-promotion i { font-size: 20px;vertical-align: middle;padding-left: 5px;color: #EE3A43; }

.sales .salesoffers-addtocart .addtocart { margin: 0;padding: 0;list-style-type: none;border: 0;border-radius: 0;background: transparent; }
.sales ul li { box-sizing: border-box; }
.sales ul li:focus { outline: 0; }
.sales ul li .content-wrap { height: 100%;margin: 0px 15px;position: relative; }
.sales ul li .content-wrap .product-code {  font-size: 10px; color: #A1A1A1;padding: 5px 0px 5px 7px; }
.sales ul li .content-wrap .img { margin: 0 auto;text-align: center; position: relative; }
.sales ul li .content-wrap .img .sticker.new {  font-size: 14px; margin: 0; position: absolute; background: #B1CC1E; color: #fff; padding: 11px 14px; border-radius: 9px;font-weight: bold; top: 2px;border-radius: 50%;left: 7px; }
.sales ul li .content-wrap .img .sticker.new .save,
.sales ul li .content-wrap .img .sticker.new .new { display: block;font-size: 10px; color: #274985;font-weight: 400; }
.sales ul li .content-wrap .img .sticker.new .new { font-weight: 700; }
.sales ul li .content-wrap .img .sticker.new .percentage { display: block;font-weight: 700;font-size: 16px; color: #274985; }
.sales ul li .content-wrap .img img { margin: 0 auto; width:100%; }
.sales ul li.items .content-wrap .img:hover img { transition: all .3s; transform: scale(1.03); }
.sales ul li.items .content-wrap:hover .sticker.new { display: none; }
.sales ul li .content-wrap .content { padding: 0px 10px 80px; }
.sales ul li.items:hover .content-wrap .content { padding-top: 3px!important; }
.sales ul li .content-wrap .content .product-rating .stars i { color: #FFC107;font-size: 16px; }
.sales ul li .content-wrap .title { padding: 12px 0px;line-height: 1;width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.sales ul li .content-wrap .title a span { font-family: 'Montserrat', sans-serif; font-size: 16px; color: #2A2A2A; font-weight: 400;margin: 0;cursor: pointer;line-height: 1.3; }
.sales ul li .content-wrap .title a:hover { text-decoration: none; } 
.sales ul li .content-wrap .title a:hover span { color: #B1CC1E; } 
.sales ul li .content-wrap .content .price .regular-price {  position: relative;font-family: 'Montserrat', sans-serif; font-size: 18px; color: #989898;font-weight: 400; }
.sales ul li .content-wrap .content .price .special-price,
.sales ul li .content-wrap .content .price span { font-family: 'Montserrat', sans-serif; font-size: 18px; color: #001F37; font-weight: bold;/* padding-left: 10px;*/ padding-left: 0px; }
.sales ul li .content-wrap .content .price .regular-price::after{ content: ""; width: 100%; height: 1px; background: black; position: absolute; bottom: 8px; left: 0; } 
.sales ul li .content-wrap .content .price .including-tax { display: block;font-size: 10px; color: #989898;font-weight: 400; }

.sales ul li .content-wrap .buttons { position: absolute; bottom:0px; left: 0; right: 0;text-align: center;display: flex;align-items: center;justify-content: space-between; }
.sales ul li .content-wrap .buttons a { font-weight: 700;font-size: 14px;padding: 15px 40px;border-radius: 35px;display: inline-block;border: 0; outline: 0; }
.sales ul li .content-wrap .buttons a:focus { box-shadow: unset; }
.sales ul li .content-wrap .buttons .quick-view { background: #B1CC1E;padding: 15px 40px;border-radius: 35px;display: inline-block;border: 0;outline: 0;width: 50%;margin-right: 5px }
.sales ul li .content-wrap .buttons .quick-view button { color: #274985; /*margin-right: 10px;*/font-weight: 700;font-size: 14px;border: 0; outline: 0;background: transparent; }
.sales ul li .content-wrap .buttons .quick-view span { font-size: 20px;color: #274985;display: none; }
.sales ul li .content-wrap .buttons .add-to-cart { background: #274985;padding: 15px 40px;border-radius: 35px;display: inline-block;border: 0;outline: 0;width: 50%;margin-left: 5px; }
.sales ul li .content-wrap .buttons .add-to-cart button { color: #FFFFFF!important; font-weight: 700;font-size: 14px;border: 0; outline: 0;padding: 0; }
.sales ul li .content-wrap .buttons .add-to-cart button i { color: #FFFFFF!important;font-size: 22px;display: none; }
.sales ul li .content-wrap .buttons .add-to-cart button span { color: #FFFFFF;font-weight: 700; }
.sales ul li .content-wrap .buttons .quick-view:hover {  background: #274985; }
.sales ul li .content-wrap .buttons .quick-view:hover button,
.sales ul li .content-wrap .buttons .quick-view:hover span { color: #FFFFFF; }
.sales ul li .content-wrap .buttons .add-to-cart:hover {  background: #B1CC1E; }
.sales ul li .content-wrap .buttons .add-to-cart:hover button span { color: #274985; }
.sales ul li.items .content-wrap .compare-icon { right: 0;left: auto;top: 10px; display: none; margin-left: 5px; margin-right: 5px; position: absolute; }
.sales ul li.items .content-wrap .compare-icon i { color: #B1CC1E;font-size: 30px; }
.sales ul li.items .content-wrap .wishlist-icon { left: 0; top: 10px; display: none; margin-left: 5px; margin-right: 5px; position: absolute; }
.sales ul li.items .content-wrap .wishlist-icon i { color: #B1CC1E;font-size: 30px; }
.sales ul li.items:hover .content-wrap .compare-icon, .sales ul li.items:hover .content-wrap .wishlist-icon { display: block;top: 20px; }


.sales .slick-prev,.sales .slick-next { width: 30px; height: 30px; }
.sales .slick-prev { margin: 0 auto;top:50%;opacity: 1;color: #ADADAD;background: #FFFFFF;border: 1px solid #D1D1D1;border-radius: 50%; }
.sales .slick-next { margin: 0 auto;top:50%;opacity: 1;color: #ADADAD;background: #FFFFFF;border: 1px solid #D1D1D1;border-radius: 50%; }
.sales .slick-prev:before { content: "\ea1a"; font-family: 'boxicons'!important; font-weight: normal; font-style: normal; font-variant: normal; color: #ADADAD; opacity: 1;font-size: 20px; } 
.sales .slick-next:before { content: "\ea1d"; font-family: 'boxicons'!important; font-weight: normal; font-style: normal; font-variant: normal; color: #ADADAD; opacity: 1;font-size: 20px; }
.sales .slick-prev:hover { color: #274985;  } 
.sales .slick-next:hover { color: #274985;  }
.sales .slick-prev.slick-disabled:before,.sales .slick-next.slick-disabled:before { opacity: 1; color: #ADADAD; }
.sales .slick-prev:hover:before,
.sales .slick-next:hover:before { opacity: 1; color: #274985; }
.sales .slick-prev:focus:before,.sales .slick-next:focus:before { opacity: 1; color: #ADADAD; }
@media (max-width: 991px) {
	.sales .salesoffers-addtocart .salesoffers { text-align: center;margin-bottom: 20px; }
	.sales ul li .content-wrap .buttons .quick-view,
	.sales ul li .content-wrap .buttons .add-to-cart { padding: 13px 30px; }
	/*.sales .slick-slider .slick-list { padding: 0 !important; }*/
}


/* Category Overlay
------------------------------------------------------------------------------------------------------------------------*/
.category-overlay ul { margin: 0 -10px;padding: 0;list-style-type: none;display: flex;flex-wrap: wrap; }
.category-overlay ul li.imgs { display: block; width: 100%; box-sizing: border-box;padding: 0px 10px; }
.category-overlay ul li.imgs .content-wrap { height: 100%; position: relative; }
.category-overlay ul li.imgs .content-wrap img { width: 100%; }
.category-overlay ul li.imgs .content-wrap .overlay { position: absolute;  bottom: 0; background: #27498580; border-radius: 2px; font-weight: bold; font-size: 40px; color: #FFFFFF;  width: 100%; height:100%; transition: .5s ease; opacity:0; text-align: center; display: flex; align-items: center; justify-content: center; }
.category-overlay ul li.imgs:hover .content-wrap .overlay { opacity: 1;  }
.category-overlay ul li.imgs .content-wrap .overlay span { color: #FFFFFF; font-weight: bold; font-size: 40px; }


/* offers
------------------------------------------------------------------------------------------------------------------------*/
.offers { padding: 50px 0px 50px; }
.offers .section-title {  padding-bottom: 40px; }
.offers ul { margin: 0;padding: 0;list-style-type: none;display: flex;flex-wrap: wrap;align-items: center; background: #ED0B43; border-radius: 2px;padding: 5px 0px; }
.offers ul li { box-sizing: border-box; }
.offers ul li.img { padding-right: 45px; }
.offers ul li.img img { width: 100%; }
/*.offers ul li .content-wrap .title { ; }*/
.offers ul li.content-offers { padding: 0;display: flex;align-items: center;/*padding-left: 30px; */padding-left: 45px; border-left: 1px solid #FFFFFF; } 
.offers ul li.content-offers .content { font-size: 24px; color: #FFFFFF; font-weight: 700;padding: 0; }
.offers ul li.content-offers .content span { font-size: 16px; /*color: #000000;*/color: #ffffff;display: block; }
.offers ul li .buttons a { font-size: 14px; color: #ED0B43; font-weight: 700;text-align: center;padding: 15px 40px; background: #FFFFFF; border-radius: 24px;text-transform: uppercase;  }
.offers ul li .buttons a:hover { text-decoration: none; }
@media (max-width: 1610px) {
	.offers ul li.content-offers { padding-left: 25px; }
	.offers ul li.content-offers .content { font-size: 23px; }
	.offers ul li.content-offers .content span { font-size: 15px; }
	.offers ul li .buttons a { font-size: 12px;padding: 15px 35px; }
}
@media (max-width: 1199px) {
	.offers ul li.img { padding-right: 30px; }
	.offers ul li.content-offers { padding: 30px 0px 30px 25px;display: block; }
	.offers ul li.content-offers .content { font-size: 20px; }
	.offers ul li.content-offers .content span { font-size: 14px; }
	.offers ul li .buttons { margin-top: 30px; }
}
@media (max-width: 991px) {
	.offers ul { display: block;text-align:center;padding: 15px 10px 30px; }
	.offers ul li.content-offers { padding: 30px 0px 30px 0px;border:0; }
	.offers ul li.content-offers .content { border: 0; }
	.offers ul li.img img { width: auto; }
}


/* Recently Viewed
------------------------------------------------------------------------------------------------------------------------*/
.recently-viewed { padding: 50px 0px 0px; }
.recently-viewed .section-title {  padding-bottom: 40px; }
/*.recently-viewed .section-title h2 { font-family: 'Montserrat', sans-serif; font-size: 32px; font-weight: 700; color: #000000;text-align: left; }*/
.recently-viewed.product-box  ul li .content-wrap:hover { box-shadow: unset; }






/* Shipping Payment Price
------------------------------------------------------------------------------------------------------------------------*/
.shipping-payment-price { padding: 50px 0px; }
.shipping-payment-price .container { max-width: 1200px!important; }
.shipping-payment-price ul { margin: 0;padding: 0;list-style-type: none;display: flex;flex-wrap: wrap;/*align-items: center;*/ }
.shipping-payment-price ul li { box-sizing: border-box; }
.shipping-payment-price ul li .content-wrap { height: 100%; }
.shipping-payment-price ul li .content-wrap .img,
.shipping-payment-price ul li .content-wrap .title { display: inline-block; }
.shipping-payment-price ul li .title {  font-size: 16px; font-weight: 600;font-family: 'Be Vietnam', sans-serif;color: #274985;margin-left: 15px; }
@media (max-width: 1610px) {
	.shipping-payment-price .container { max-width: 100%!important; }
}
@media (max-width: 991px) {
	.shipping-payment-price ul li { margin-bottom: 20px; }
}
@media (max-width: 767px) {
	/*.shipping-payment-price ul { display: block; } */
}



/* Our customer
------------------------------------------------------------------------------------------------------------------------*/
.our-customer {position: relative; padding: 20px 0px 50px; background-size: cover;width: 100%;}
.our-customer .container { max-width: 1440px!important; }
.our-customer  .section-title { padding-bottom: 40px; }
.our-customer  .section-title h2 { font-family: 'Montserrat', sans-serif; font-size: 32px; font-weight: 700; color: #000000;text-align: center; }
.our-customer .our-customer-content { position: unset; }
.our-customer .our-customer-content .items { padding: 0px 15px;box-sizing: border-box;margin-bottom: 20px; }
.our-customer .our-customer-content .items:focus { outline: 0; }
.our-customer .our-customer-content .items .item-inner-wrapper { height: 100%;padding: 35px 30px 50px;background: #FFFFFF; }
.our-customer .our-customer-content .items .image-wrap { position: relative;width: 150px; height: 150px; margin: 0 auto; }
.our-customer .our-customer-content .items .image-wrap .testimonial-commet { position: absolute;/*right: 49px;*/right: 0px;top: 9px; }
.our-customer .our-customer-content .items .image-wrap .testimonial-commet img { border-radius: 100%;width: 100%;height: auto; }
.our-customer .our-customer-content .items .image-wrap img { border-radius: 50%;/*width: 150px;height: 150px;*/width: 100%;height: 100%;object-fit: cover;/*object-position: center;*/margin: 0 auto;object-position: left; }
.our-customer .our-customer-content .items .content-wrap .title { font-family: 'Montserrat', sans-serif; font-size: 16px; color: #000000;font-weight: bold;text-align: center;padding: 20px 0px; }
.our-customer .our-customer-content .items .content-wrap p { font-family: 'Montserrat', sans-serif; font-size: 14px; color: #000000;font-weight: 400;text-align: center; }

.our-customer .our-customer-content .slick-prev,.our-customer .our-customer-content .slick-next { width: 50px; height: 30px; }
.our-customer .our-customer-content .slick-prev { left: -25px;right: 0;margin: 0 auto;top:95%;bottom: 25px;opacity: 1;color: #ADADAD;border:1px solid #DFDFDF;border-right: 0; border-top-left-radius: 20px;border-bottom-left-radius: 20px; }
.our-customer .our-customer-content .slick-next { right: -25px;left: 0;margin: 0 auto;top:95%;bottom: 25px;opacity: 1;color: #ADADAD;border:1px solid #DFDFDF; border-left: 0;border-top-right-radius: 20px;border-bottom-right-radius: 20px; }
.our-customer .our-customer-content .slick-prev:before { margin-right: 5px; color: #ADADAD; opacity: 1; } 
.our-customer .our-customer-content .slick-next:before { margin-left: 5px; color: #ADADAD; opacity: 1; }
.our-customer .our-customer-content .slick-prev:hover { color: #274985;  } 
.our-customer .our-customer-content .slick-next:hover { color: #274985;  }
.our-customer .slick-prev.slick-disabled:before,.our-customer .slick-next.slick-disabled:before { opacity: 1; color: #ADADAD; }
.our-customer .our-customer-content .slick-prev:hover:before,
.our-customer .our-customer-content .slick-next:hover:before { opacity: 1; color: #274985; }
.our-customer .our-customer-content .slick-prev:focus:before,.our-customer .our-customer-content .slick-next:focus:before { opacity: 1; color: #ADADAD; }
@media (max-width: 1610px) {
	.our-customer .container { max-width: 100%!important; }
}



/* Footer Changes
------------------------------------------------------------------------------------------------------------------------*/
.footer {background: #274985; padding: 50px 0px 0px;display: inline-block;width: 100%; }
.footer .container { max-width: 1200px!important; }
.footer .footer-block { margin-bottom: 20px; }
.footer .footer-block .footer-block-title{ font-size: 20px; color: #FFFFFF;font-weight: 700; font-family: 'Montserrat', sans-serif; margin-bottom: 18px; }

.footer .footer-block .footer-block-content ul{ margin: 0; padding: 0; width: 100%; list-style-type: none;}
.footer .footer-block .footer-block-content ul li{ margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; font-size: 14px; color:#FFFFFF;padding-bottom: 14px; }

.footer .footer-block .footer-block-content ul li a{ color: #FFFFFF; }
.footer .footer-block .footer-block-content ul li a:hover{ color: #B1CC1E;text-decoration: none; }

.footer .footer-block .footer-block-content p { font-family: 'Montserrat', sans-serif; font-size: 14px; color: #FFFFFF;font-weight: 400;margin-bottom: 36px; }

.footer .footer-block .footer-block-content form{ margin: 0; padding: 0; width: 100%;position: relative; }
.footer .footer-block .footer-block-content form label{ display: none; }
.footer .footer-block .footer-block-content form input.email{ padding: 0px 18px 0px 15px; height: 40px; font-family: 'Montserrat', sans-serif; font-size: 14px; width: 100%; outline: 0; color: #ffffff;  border: 1px solid #FFFFFF; border-radius: 2px; background: transparent; display: inline-block; }
.footer .footer-block .footer-block-content form input.email:-internal-autofill-selected { background-color: transparent; }
.footer .footer-block .footer-block-content form input.email::placeholder { color: #FFFFFF; font-family: 'Montserrat', sans-serif; font-size: 14px;  }
.footer .footer-block .footer-block-content form button.btn-primary{ background-color: transparent; padding: 2px 10px; border: 0; font-size: 0; height: 40px; margin-left: 7px; position: relative;position: absolute;right: 6px; }
.footer .footer-block .footer-block-content form button.btn-primary.email-button:hover { background-color: unset !important; }
.footer .footer-block .footer-block-content form button.btn-primary:hover{ background-color: #275da5 !important; }
.footer .footer-block .footer-block-content form button.btn-primary .material-icons { font-size: 16px;color: #ffffff;outline: 0; }
.footer .footer-block .footer-block-content form button.btn-primary:hover{ background-color: #275da5 !important; }




.footer .footer-middle { padding-top: 80px; }
.footer .footer-middle .footer-middle-content { padding: 36px 0px; border-top:1px solid rgba(255,255,255,0.10); border-bottom:1px solid rgba(255,255,255,0.10);display: flex; }
.footer .footer-middle .footer-middle-content .newsletter-wrapper { width: 100%; }
.footer .footer-middle ul{ margin: 0; padding: 0; width: 100%; list-style-type: none;}
.footer .footer-middle ul li { display: inline-block; }
.footer .footer-middle .partner-logo { text-align: left;padding-left: 0; }
.footer .footer-middle .partner-logo ul { display: flex;flex-wrap: wrap;align-items: center; }
.footer .footer-middle .partner-logo ul li { display: block;margin-right: 3px; }
.footer .footer-middle .social-links { text-align: right;padding-right: 0; }
.footer .footer-middle .social-links ul li { margin-right: 5px; }
.footer .footer-middle .social-links ul li a:hover { text-decoration: none; }
.footer .footer-middle .social-links ul li span { background: #ffffff;color: #5f5e5b;border-radius: 50%;padding: 9px 9px; }
.footer .footer-middle .social-links ul li span:hover { background: #B1CC1E; color: #FFFFFF; } 
.footer .footer-middle .social-links ul li:last-child span { margin-right: 0; } 
.footer .footer-middle .social-links ul li span i { vertical-align:middle;font-size: 20px; }

.footer-bottom { padding: 50px 0px;text-align: center; }
.footer-bottom p {  font-family: 'Montserrat', sans-serif; font-size: 14px; color: #FFFFFF;font-weight: 400;margin-bottom: 0; }
@media (max-width: 1610px) {
	.footer .container { max-width: 100%!important; }
}
@media (max-width: 991px) {
	.footer .footer-middle .partner-logo,
	.footer .footer-middle .social-links { text-align: center; }
	.footer .footer-middle .partner-logo { margin-bottom: 30px; }
	.footer .footer-middle .partner-logo ul { justify-content: center; }
}
@media (max-width: 767px) {
	.footer .footer-middle .partner-logo,
	.footer .footer-middle .social-links { text-align: center; }
	.footer .footer-middle .partner-logo { margin-bottom: 30px; }
	.footer .footer-middle .partner-logo ul { justify-content: center; }
	.footer .footer-block .footer-block-content ul { display: flex;flex-wrap: wrap; }
	.footer .footer-block .footer-block-content ul li { width: 100%; }
	.footer .footer-block .footer-block-content ul li { width: 50%; }
}
@media (max-width: 576px) {
	.footer .footer-block .footer-block-content ul { display: block; }
	.footer .footer-block .footer-block-content ul li { width: 100%; }
}
